<html>
<head>
	<meta name="viewport" content="width=device-width">
	<link href="/{{config.prefix}}/static/styles.css" rel='stylesheet' />
</head>
  <body>
   <h1 class='header'>Light remote</h1>
	{{{body}}}
  <script src='/{{config.prefix}}/static/promise.min.js'></script>
  <script src='/{{config.prefix}}/static/script.js'></script>
  </body>
</html>
